WebContent/wsdl/StudentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright: 2018 digiBlitz Foundation
  
  License: digiBlitz Public License 1.0 (DPL) 
  Administered by digiBlitz Foundation. www.digiblitz.org/dpl/
  
  Inventor: Suresh Kannan (Maya Suresh Kannan Balabisegan ) (www.sureshkannan.org)
  
  Authors: Suresh Kannan (Maya Suresh Kannan Balabisegan )& digiBlitz.
  
  "Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software in accordance to the rules & restrictions of the digiBlitz Public License."
-->
<wsdl:definitions targetNamespace="http://services.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.com" xmlns:intf="http://services.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="studentRegistartion">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="firstname" type="xsd:string"/>
      <element name="lastname" type="xsd:string"/>
      <element name="gender" type="xsd:string"/>
      <element name="e_mail" type="xsd:string"/>
      <element name="dob" type="xsd:dateTime"/>
      <element name="mobileno" type="xsd:string"/>
      <element name="fathername" type="xsd:string"/>
      <element name="mothername" type="xsd:string"/>
      <element name="address1" type="xsd:string"/>
      <element name="address2" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="state" type="xsd:string"/>
      <element name="country" type="xsd:string"/>
      <element name="pincode" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="studentRegistartionResponse">
    <complexType>
     <sequence>
      <element name="studentRegistartionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="studentRegistartionResponse">

      <wsdl:part element="impl:studentRegistartionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="studentRegistartionRequest">

      <wsdl:part element="impl:studentRegistartion" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StudentService">

      <wsdl:operation name="studentRegistartion">

         <wsdl:input message="impl:studentRegistartionRequest" name="studentRegistartionRequest">

       </wsdl:input>

         <wsdl:output message="impl:studentRegistartionResponse" name="studentRegistartionResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentServiceSoapBinding" type="impl:StudentService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="studentRegistartion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="studentRegistartionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="studentRegistartionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentServiceService">

      <wsdl:port binding="impl:StudentServiceSoapBinding" name="StudentService">

         <wsdlsoap:address location="http://localhost:8980/smartlehren/services/StudentService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
